
.section {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 40px;
}

.one {
  position: absolute;
  margin-top: -15px;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.primary-color {
  background-color: #007bff;
}

.no-color {
  background-color: whitesmoke;
}

.progress__label {
  padding-top: 60px;
}

.days-diff {
  position: absolute;
  margin-top: -15px;
}
