
.row {
  margin-bottom: 70px;
}

p {
  margin-bottom: 30px;
}


.one {
  position: absolute;
  margin-top: -15px;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.primary-color {
  background-color: #007bff;
}

.no-color {
  background-color: whitesmoke;
}

.progress__label {
  padding-top: 60px;
  font-weight: 600;
}
