<link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>

<h1 id="tableLabel">Schedules</h1>

<p *ngIf="!schedules"><em>Loading...</em></p>
<div class="container">
  <div class="row">
    <br />
    <div class="col-md-12" *ngFor="let schedule of schedules">
      <h4>{{schedule.companyId}}</h4>
      <div class="progress">
        <div class="goal no-color" *ng-class="" *ngFor="let notification of schedule.notifications">{{notification}}</div>
        <div class="progress-bar" style="width: 70%;"></div>
      </div>
      <hr/>

      <!--<div class="progress">
        <ul class="checkout-bar" *ngFor="let schedule of schedules; let i = index">
          <h4>{{schedule.companyId}}</h4>
          <li class="next" *ngFor="let notification of schedule.notifications; let j = index">{{notification}}</li>
        </ul>
      </div>-->
    </div>
  </div>
</div>


  <!--<div class="progress__bg"></div>

  <template v-for="(step, index) in steps">
    <div :class="stepClasses(index)">
      <div class="progress__indicator">
        <i class="fa fa-check"></i>
      </div>
      <div class="progress__label">
        {{step.label}}
      </div>
    </div>
  </template>-->
  <!--<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="schedules">
    <thead>
      <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.date }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
      </tr>
    </tbody>
  </table>-->
