<h2>Company notification schedules</h2>
<p aria-live="polite" *ngIf="!schedules"><em>Loading...</em></p>

<div class="container">
  <div class="row" *ngFor="let schedule of schedules; let i = index">
    <div class="col-md-12 section">
      <span aria-live="polite"><em>CompanyId: {{schedule.companyId}}</em></span>
      <p aria-live="polite" *ngIf="schedule.notifications"><em>Days till last notification: {{calculateDaysDistanceFromNowTillLastNotification(schedule)}}</em></p>
      <div class="progress" *ngIf="schedule.notifications">
        <div *ngFor="let notification of schedule.notifications; let j = index">
          <div class="{{getClassColors(notification)}}" [ngStyle]="{'left': calculateStepWidth(schedule, j)}">
            <div class="days-diff">{{getDaysDifferenceFromPreviousNotificationTillNotification(schedule, j)}}</div>
            <div class="progress__label">
              <span>{{notification}}</span>
            </div>
          </div>
        </div>
        <div class="progress-bar" [ngStyle]="{'width': calculateProgressPositionWidth(schedule)}"></div>
      </div>
      <p aria-live="polite" *ngIf="!schedule.notifications"><em>Has no notifications</em></p>
    </div>
  </div>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="schedules">
  <thead>
    <tr>
      <th>CompanyId</th>
      <th>Notifications</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schedule of schedules">
      <td>{{schedule.companyId}}</td>
      <td *ngIf="schedule.notifications">
        <div *ngFor="let notification of schedule.notifications">{{notification}}</div>
      </td>
    </tr>
  </tbody>
</table>
